<div>
    @*<p>
            <router-link to="/scooby">Scooby</router-link>
            <router-link to="/shaggy">Shaggy</router-link>
            <router-link to="/MOU">MOU</router-link>
        </p>*@
    <router-view></router-view>
</div>
@section scripts{
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.10/vue-resource.min.js"></script>
    <script src="~/Scripts/router.js"></script>
}

@*@section scripts
    {
        <script type="text/javascript">
            var DisplayResult = function (errored) {
                $("#spanResult").html('');
                if (errored) {
                    $("#spanResult").html('Not Saved');
                    //$("#spanResult").toggleClass('errorMssg');
                    $("#spanResult").attr("class", "errorMssg");
                }
                else {
                    $("#spanResult").html('Saved');
                    //$("#spanResult").toggleClass('Mssg');
                    $("#spanResult").attr("class", "Mssg");
                    //update MOU tick on Layout Page

                    if ($("#chkMOU")[0].checked)
                        $("#imgMOU").prop("src", "../images/icon_check.png");
                    else
                        $("#imgMOU").prop("src", "../images/icon_x.png");
                }
            };

            $(document).ready(function () {
                var SubmitForm = function () {
                    $.ajax({
                        url: '/Physician/SetMOU',
                        type: 'POST',
                        data: { isChecked: $("#chkMOU")[0].checked },
                        dataType: 'json',
                        success: function (data) {

                            //alert('Data: ' + data);
                            DisplayResult(data.Result);
                        },
                        error: function (request, error) {

                            //alert("Request: " + JSON.stringify(request));
                            DisplayResult(data.Result);
                        }
                    });
                }
                $("#hlSubmit").click(SubmitForm);
            });
        </script>
    }*@

