<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VistaDMEntities" connectionString="metadata=res://*/VistaDM.csdl|res://*/VistaDM.ssdl|res://*/VistaDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRCWEBDEV2\CHRC_TEST;initial catalog=VistaDM;user id=sa;password=df96e1p!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>