<div id="navmainsmall">
    <div id="navboxes">
        <table width="100%" border="0">
            <tr>
                <td align="left">@Resources.Resource.USER_GUIDE</td>
                <td align="right"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="    MM_swapImage('Image10', '', '../images/icon_enter_rollover.png', 1)"><img src="../images/icon_enter.png" name="Image10" width="31" height="31" border="0" id="Image10" /></a></td>
            </tr>
        </table>
    </div><!--end of navboxes-->
    <div id="navboxes">
        <table width="100%" border="0">
            <tr>
                <td align="left">@Resources.Resource.VistaDMSynopsis</td>
                <td align="right"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="    MM_swapImage('Image11', '', '../images/icon_download_rollover.png', 1)"><img src="../images/icon_download.png" name="Image11" width="31" height="31" border="0" id="Image11" /></a></td>
            </tr>
        </table>
    </div><!--end of navboxes-->
    <div id="navboxes">
        <table width="100%" border="0">
            <tr>
                <td align="left">@Resources.Resource.ETHICS_LETTER</td>
                <td align="right"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="    MM_swapImage('Image12', '', '../images/icon_download_rollover.png', 1)"><img src="../images/icon_download.png" name="Image12" width="31" height="31" border="0" id="Image12" /></a></td>
            </tr>
        </table>
    </div><!--end of navboxes-->
</div><!--end of navmainsmall-->
