<div id="navheadersmall" style="padding-top:10px; padding-bottom:26px; line-height:20px">@Resources.Resource.PHYSISICAN_REQUIREMENTS</div><!--end of navheadersmall-->
<div id="navmainsmall">
    <div id="navboxes">
        <a href='#' class="transparentLink">
            <table width="100%" border="0">
                <tr>
                    <td align="left">@Resources.Resource.MOU.ToString()</td>
                    <td align="right"><img id="imgMOU" src="../images/icon_check.png" /></td>
                </tr>
            </table>
        </a>
    </div><!--end of navboxes-->
    <div id="navboxes">
        <a href='#' class="transparentLink">
            <table width="100%" border="0">
                <tr>
                    <td align="left">@Resources.Resource.PayeeForm.ToString()</td>
                    <td align="right"><img src="../images/icon_x.png" /></td>
                </tr>
            </table>
        </a>
    </div><!--end of navboxes-->
</div><!--end of navmainsmall-->

 